body {
    display: block;
    margin: 8px;
    background-color: #884dff;
}

h1, p, .streamers, form {
    text-align: center;
    color: white;
}

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.button {
    display: flex;
}