/* variables  */

html {
    --purple: #884dff;
    --green: #26D646;
    --yellow: #FFF92E;
    --white: #FBFBFB;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

* {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: block;
    margin: 0px auto;
    padding: 0px;
    background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);
    max-width: 1000px;
    padding: 1.5rem;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

h1,
h2 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-shadow: 2px 2px black;
}

.streamer-img {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    box-shadow: var(--box-shadow);
}

.streamer {
    display: grid;
    padding: 20px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
    justify-items: center;
    border-top: 1px solid var(--white);
}

.streamer-name {
    grid-row-start: 2;
    grid-column: 1 / 2;
}

.deletebtn {
    grid-row-start: 2;
    grid-column: 2/3;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px ;
    cursor: pointer;
}

.streamer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--white);
}

.link-name, .add-link {
    color: black;
}
/* Add CSS Variables
Sort out Specificity
Add CSS Grid to streamer container */